In [333]:
import pandas as pd
import numpy as np

In [334]:
df = pd.read_csv('world-data-2023.csv')
df.columns

Index(['Country', 'Density\r\n(P/Km2)', 'Abbreviation',
       'Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size',
       'Birth Rate', 'Calling Code', 'Capital/Major City', 'Co2-Emissions',
       'CPI', 'CPI Change (%)', 'Currency-Code', 'Fertility Rate',
       'Forested Area (%)', 'Gasoline Price', 'GDP',
       'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude'],
      dtype='object')

In [335]:
df.head(5)

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [336]:
df.tail(5)

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [337]:
df.describe()

,Birth Rate,Calling Code,Fertility Rate,Infant mortality,Life expectancy,Maternal mortality ratio,Physicians per thousand,Latitude,Longitude
count,189.000000,194.000000,188.000000,189.000000,187.000000,181.000000,188.000000,194.000000,194.000000
mean,20.214974,360.546392,2.698138,21.332804,72.279679,160.392265,1.839840,19.092351,20.232434
std,9.945774,323.236419,1.282267,19.548058,7.483661,233.502024,1.684261,23.961779,66.716110
min,5.900000,1.000000,0.980000,1.400000,52.800000,2.000000,0.010000,-40.900557,-175.198242
25%,11.300000,82.500000,1.705000,6.000000,67.000000,13.000000,0.332500,4.544175,-7.941496
50%,17.950000,255.500000,2.245000,14.000000,73.200000,53.000000,1.460000,17.273849,20.972652
75%,28.750000,506.750000,3.597500,32.700000,77.500000,186.000000,2.935000,40.124603,48.281523
max,46.080000,1876.000000,6.910000,84.500000,85.400000,1150.000000,8.420000,64.963051,178.065032

Средние значения в каждой числовой колонке датасета

In [338]:
df.describe().loc['mean']

Birth Rate                   20.214974
Calling Code                360.546392
Fertility Rate                2.698138
Infant mortality             21.332804
Life expectancy              72.279679
Maternal mortality ratio    160.392265
Physicians per thousand       1.839840
Latitude                     19.092351
Longitude                    20.232434
Name: mean, dtype: float64

Максимальные и минимальные значения

In [339]:
df.describe().loc[['max','min']]

,Birth Rate,Calling Code,Fertility Rate,Infant mortality,Life expectancy,Maternal mortality ratio,Physicians per thousand,Latitude,Longitude
max,46.08,1876.0,6.91,84.5,85.4,1150.0,8.42,64.963051,178.065032
min,5.90,1.0,0.98,1.4,52.8,2.0,0.01,-40.900557,-175.198242

Типизация значений

In [340]:
def convert_to_float(series):
    if(type(series) != float):
        converted_series = series.replace(',','').replace('%','').replace('$','')
        return float(converted_series)
    else:
        if not np.isnan(series):
            return float(series)
        else:
            return float(np.nan_to_num(series))
def convert_to_int(series):
    if(type(series) != int and type(series) != float):
        converted_series = series.replace(',','').replace('%','').replace('$','')
        return int(converted_series)
    else:
        if not np.isnan(series):
            return int(series)
        else:
            return int(np.nan_to_num(series))

In [341]:
for series in df.columns:
    if df[series].dtype == 'object':
        try:
            df[series] = df[series].apply(convert_to_int)
        except:
            try:
                df[series] = df[series].apply(convert_to_float)
            except:
                df[series] = df[series]
df['Official language'] = df['Official language'].astype('category')
df.dtypes

Country                                        object
Density\r\n(P/Km2)                              int64
Abbreviation                                   object
Agricultural Land( %)                         float64
Land Area(Km2)                                  int64
Armed Forces size                               int64
Birth Rate                                    float64
Calling Code                                  float64
Capital/Major City                             object
Co2-Emissions                                   int64
CPI                                           float64
CPI Change (%)                                float64
Currency-Code                                  object
Fertility Rate                                float64
Forested Area (%)                             float64
Gasoline Price                                float64
GDP                                             int64
Gross primary education enrollment (%)        float64
Gross tertiary education enrollment (%)       float64
Infant mortality                              float64
Largest city                                   object
Life expectancy                               float64
Maternal mortality ratio                      float64
Minimum wage                                  float64
Official language                            category
Out of pocket health expenditure              float64
Physicians per thousand                       float64
Population                                      int64
Population: Labor force participation (%)     float64
Tax revenue (%)                               float64
Total tax rate                                float64
Unemployment rate                             float64
Urban_population                                int64
Latitude                                      float64
Longitude                                     float64
dtype: object

Фильтрация

In [342]:
df[df['Population'] < 100_000]

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
3,Andorra,164,AD,40.0,468,0,7.20,376.0,Andorra la Vella,469,...,36.4,3.33,77142,0.0,0.0,0.0,0.0,67873,42.506285,1.521801
5,Antigua and Barbuda,223,AG,20.5,443,0,15.33,1.0,"St. John's, Saint John",557,...,24.3,2.76,97118,0.0,16.5,43.0,0.0,23800,17.060816,-61.796428
48,Dominica,96,DM,33.3,751,0,12.00,1.0,Roseau,180,...,28.4,1.08,71808,0.0,22.1,32.6,0.0,50830,15.414999,-61.370976
73,Vatican City,2003,NaN,0.0,0,0,NaN,379.0,Vatican City,0,...,0.0,NaN,836,0.0,0.0,0.0,0.0,0,41.902916,12.453389
98,Liechtenstein,238,LI,32.2,160,0,9.90,423.0,Vaduz,51,...,0.0,NaN,38019,0.0,0.0,21.6,0.0,5464,47.141039,9.520935
107,Marshall Islands,329,MH,63.9,181,0,29.03,692.0,Majuro,143,...,10.0,0.42,58791,0.0,17.8,65.9,0.0,45514,7.131474,171.184478
113,Monaco,26337,MC,0.0,2,0,5.90,377.0,Monaco City,0,...,6.1,6.56,38964,0.0,0.0,0.0,0.0,38964,43.738418,7.424616
120,Nauru,541,NR,0.0,21,0,NaN,674.0,Yaren District,0,...,0.0,NaN,10084,0.0,0.0,0.0,0.0,0,-0.522778,166.931503
132,Palau,39,PW,10.9,459,0,14.00,680.0,Ngerulmud,224,...,21.8,1.18,18233,0.0,21.3,76.6,0.0,14491,7.514980,134.582520
133,Palestinian National Authority,847,NaN,0.0,0,0,NaN,NaN,NaN,0,...,0.0,NaN,0,0.0,0.0,0.0,0.0,0,31.952162,35.233154
145,Saint Kitts and Nevis,205,KN,23.1,261,0,12.60,1.0,Basseterre,238,...,56.6,2.52,52823,0.0,18.5,49.7,0.0,16269,17.357822,-62.782998
149,San Marino,566,SM,16.7,61,0,6.80,378.0,City of San Marino,0,...,18.3,6.11,33860,0.0,18.1,36.2,0.0,32969,43.942360,12.457777
154,Seychelles,214,SC,3.4,455,0,17.10,248.0,"Victoria, Seychelles",605,...,2.5,0.95,97625,0.0,34.1,30.1,0.0,55762,-4.679574,55.491977
181,Tuvalu,393,TV,60.0,26,0,NaN,688.0,Funafuti,11,...,0.7,0.92,11646,0.0,0.0,0.0,0.0,7362,-7.109535,177.649330

In [343]:
df[df['Official language'] == 'Pashto']

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.1,652230,323000,32.49,93.0,Kabul,8672,...,78.4,0.28,38041754,48.9,9.3,71.4,11.12,9797273,33.93911,67.709953

In [344]:
df[df['Total tax rate'] >= 50]

,Country,Density\r\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.1,652230,323000,32.49,93.0,Kabul,8672,...,78.4,0.28,38041754,48.9,9.3,71.4,11.12,9797273,33.939110,67.709953
2,Algeria,18,DZ,17.4,2381741,317000,24.28,213.0,Algiers,150006,...,28.1,1.72,43053054,41.2,37.2,66.1,11.70,31510100,28.033886,1.659626
6,Argentina,17,AR,54.3,2780400,105000,17.02,54.0,Buenos Aires,201348,...,17.6,3.96,44938712,61.3,10.1,106.3,9.79,41339571,-38.416097,-63.616672
9,Austria,109,AT,32.4,83871,21000,9.70,43.0,Vienna,61448,...,17.9,5.17,8877067,60.7,25.4,51.4,4.67,5194416,47.516231,14.550072
15,Belarus,47,BY,42.0,207600,155000,9.90,375.0,Minsk,58280,...,34.5,5.19,9466856,64.1,14.7,53.3,4.59,7482982,53.709807,27.953389
16,Belgium,383,BE,44.6,30528,32000,10.30,32.0,City of Brussels,96889,...,17.6,3.07,11484055,53.6,24.0,55.4,5.59,11259082,50.503887,4.469936
20,Bolivia,11,BO,34.8,1098581,71000,21.75,591.0,Sucre,21606,...,25.9,1.59,11513100,71.8,17.0,83.7,3.50,8033035,-16.290154,-63.588653
23,Brazil,25,BR,33.9,8515770,730000,13.92,55.0,Bras���,462299,...,28.3,2.15,212559417,63.9,14.2,65.1,12.08,183241641,-14.235004,-51.925280
28,Ivory Coast,83,CI,64.8,322463,27000,35.74,225.0,Yamoussoukro,9674,...,36.0,0.23,25716544,57.0,11.8,50.1,3.32,13176900,7.539989,-5.547080
31,Cameroon,56,CM,20.6,475440,24000,35.39,237.0,Yaound�,8291,...,69.7,0.09,25876380,76.1,12.8,57.7,3.38,14741256,7.369722,12.354722
33,Central African Republic,8,CF,8.2,622984,8000,35.35,236.0,Bangui,297,...,39.6,0.06,4745185,72.0,8.6,73.3,3.68,1982064,6.611111,20.939444
34,Chad,13,TD,39.7,1284000,35000,42.17,235.0,N'Djamena,1016,...,56.4,0.04,15946876,70.7,0.0,63.5,1.89,3712273,15.454166,18.732207
36,China,153,CN,56.2,9596960,2695000,10.90,86.0,Beijing,9893038,...,32.4,1.98,1397715000,68.0,9.4,59.2,4.32,842933962,35.861660,104.195397
37,Colombia,46,CO,40.3,1138910,481000,14.88,57.0,Bogot�,97814,...,18.3,2.18,50339443,68.8,14.4,71.2,9.71,40827302,4.570868,-74.297333
38,Comoros,467,KM,71.5,2235,0,31.88,269.0,"Moroni, Comoros",202,...,74.8,0.27,850886,43.3,0.0,219.6,4.34,248152,-11.645500,43.333300
39,Republic of the Congo,16,NaN,31.1,342000,12000,32.86,242.0,Brazzaville,3282,...,43.8,0.12,5380508,69.4,9.0,54.3,9.47,3625010,-0.228021,15.827659
40,Costa Rica,100,CR,34.5,51100,10000,13.97,506.0,San Jos������,8023,...,21.5,2.89,5047561,62.1,13.6,58.3,11.85,4041885,9.748917,-83.753428
45,Democratic Republic of the Congo,40,CD,11.6,2344858,134000,41.18,243.0,Kinshasa,2021,...,37.4,0.07,86790567,63.5,10.7,50.7,4.24,39095679,-4.038333,21.758664
53,Equatorial Guinea,50,GQ,10.1,28051,1000,33.24,240.0,Malabo,5655,...,72.0,0.40,1355986,62.0,6.1,79.4,6.43,984812,1.650801,10.267895
54,Eritrea,35,ER,75.2,117600,202000,30.30,291.0,Asmara,711,...,52.4,0.06,6333135,78.4,0.0,83.7,5.14,1149670,15.179384,39.782334
60,France,119,FR,52.4,643801,307000,11.30,33.0,Paris,303276,...,6.8,3.27,67059887,55.1,24.2,60.7,8.43,54123364,46.227638,2.213749
65,Ghana,137,GH,69.0,238533,16000,29.41,233.0,Accra,16670,...,36.1,0.14,30792608,67.8,12.6,55.4,4.33,17249054,7.946527,-1.023194
66,Greece,81,GR,47.6,131957,146000,8.10,30.0,Athens,62434,...,35.5,5.48,10716322,51.8,26.2,51.9,17.24,8507474,39.074208,21.824312
69,Guinea,53,GN,59.0,245857,13000,36.36,224.0,Conakry,2996,...,54.5,0.08,12771246,61.5,10.8,69.3,4.30,4661505,9.945587,-9.696645
83,Italy,206,IT,43.2,301340,347000,7.30,39.0,Rome,320411,...,22.8,3.98,60297396,49.6,24.3,59.1,9.89,42651966,41.871940,12.567380
105,Mali,17,ML,33.8,1240192,18000,41.54,223.0,Bamako,3179,...,46.3,0.13,19658031,70.8,11.6,54.5,7.22,8479688,17.570692,-3.996166
107,Marshall Islands,329,MH,63.9,181,0,29.03,692.0,Majuro,143,...,10.0,0.42,58791,0.0,17.8,65.9,0.00,45514,7.131474,171.184478
108,Mauritania,5,MR,38.5,1030700,21000,33.69,222.0,Nouakchott,2739,...,48.2,0.19,4525696,45.9,0.0,67.0,9.55,2466821,21.007890,-10.940835
110,Mexico,66,MX,54.6,1964375,336000,17.60,52.0,Mexico City,486406,...,41.4,2.38,126014024,60.7,13.1,55.1,3.42,102626859,23.634501,-102.552784
111,Federated States of Micronesia,784,FM,31.4,702,0,22.82,691.0,Palikir,143,...,2.5,0.18,113815,0.0,25.2,60.5,0.00,25963,7.425554,150.550812
124,Nicaragua,55,NI,42.1,130370,12000,20.64,505.0,Managua,5592,...,36.0,0.98,6545502,66.4,15.6,60.6,6.84,3846137,12.865416,-85.207229
132,Palau,39,PW,10.9,459,0,14.00,680.0,Ngerulmud,224,...,21.8,1.18,18233,0.0,21.3,76.6,0.00,14491,7.514980,134.582520
165,Sri Lanka,341,LK,43.7,65610,317000,15.83,94.0,Colombo,23362,...,38.4,1.00,21803000,53.9,11.9,55.2,4.20,4052088,7.873054,80.771797
171,Tajikistan,68,TJ,34.1,144100,17000,30.76,992.0,Dushanbe,5310,...,63.1,1.70,9321018,42.0,9.8,67.3,11.02,2545477,38.861034,71.276093
178,Tunisia,76,TN,64.8,163610,48000,17.56,216.0,Tunis,29937,...,39.8,1.30,11694719,46.1,21.1,60.7,16.02,8099061,33.886917,9.537499
190,Venezuela,32,VE,24.5,912050,343000,17.88,58.0,Caracas,164175,...,45.8,1.92,28515829,59.7,0.0,73.3,8.80,25162368,6.423750,-66.589730

Группировка

In [345]:
df.groupby('Official language').mean(numeric_only=True)

C:\Temp\ipykernel_1556\3467245076.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Official language').mean(numeric_only=True)

,Density\r\n(P/Km2),Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
Official language,,,,,,,,,,,,,,,,,,,,,
Afrikaans,49.000000,79.8,1219090.0,80000.0,20.510000,27.000000,476644.000000,158.930000,4.100000,2.410000,...,7.700000,0.910000,5.855827e+07,56.000000,27.500000,29.200000,28.180000,3.914972e+07,-30.559482,22.937506
Albanian,105.000000,43.1,28748.0,9000.0,11.780000,355.000000,4536.000000,119.050000,1.400000,1.620000,...,56.900000,1.200000,2.854191e+06,55.700000,18.600000,36.600000,12.330000,1.747593e+06,41.153332,20.168331
Amharic,115.000000,36.3,1104300.0,138000.0,32.340000,251.000000,14870.000000,143.860000,15.800000,4.250000,...,37.800000,0.080000,1.120787e+08,79.600000,7.500000,37.700000,2.080000,2.378871e+07,9.145000,40.489673
Arabic,263.666667,34.6,671535.0,103500.0,22.401765,661.823529,86819.666667,182.131111,6.233333,2.971765,...,33.777778,1.384118,1.763090e+07,50.333333,9.177778,31.255556,8.862778,1.120084e+07,25.513643,32.332199
Armenian,104.000000,58.9,29743.0,49000.0,13.990000,374.000000,5156.000000,129.180000,1.400000,1.760000,...,81.600000,4.400000,2.957731e+06,55.600000,20.900000,22.600000,16.990000,1.869848e+06,40.069099,45.038189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tuvaluan Language,393.000000,60.0,26.0,0.0,NaN,688.000000,11.000000,0.000000,0.000000,NaN,...,0.700000,0.920000,1.164600e+04,0.000000,0.000000,0.000000,0.000000,7.362000e+03,-7.109535,177.649330
Ukrainian,75.000000,71.7,603550.0,297000.0,8.700000,380.000000,202250.000000,281.660000,7.900000,1.300000,...,47.800000,2.990000,4.438516e+07,54.200000,20.100000,45.200000,8.880000,3.083570e+07,48.379433,31.165580
Urdu,287.000000,47.8,796095.0,936000.0,28.250000,92.000000,201150.000000,182.320000,10.600000,3.510000,...,66.500000,0.980000,2.165653e+08,52.600000,9.200000,33.900000,4.450000,7.992776e+07,30.375321,69.345116
Uzbek,79.000000,62.9,447400.0,68000.0,23.300000,998.000000,91811.000000,0.000000,0.000000,2.420000,...,42.700000,2.370000,3.358065e+07,65.100000,14.800000,31.600000,5.920000,1.693573e+07,41.377491,64.585262
Vietnamese,314.000000,39.3,331210.0,522000.0,16.750000,84.000000,192668.000000,163.520000,2.800000,2.050000,...,43.500000,0.820000,9.646211e+07,77.400000,19.100000,37.600000,2.010000,3.533214e+07,14.058324,108.277199

In [404]:
agregation_dict ={
}
df_for_agregation = df[['Official language','Population']]
for item in df_for_agregation['Official language']:
    agregation_dict[item] = {'values':[],'agregated': 0,'median': 0, 'mean': 0}
for item in df_for_agregation['Official language'].unique():
    for index in df.index[df['Official language'] == item].tolist():
        agregation_dict[item]['values'].append(df['Population'][index])

for language in agregation_dict:
    agregation_dict[language]['values'].sort()
    values = agregation_dict[language]['values']
    values_length = len(values)
    agregation_dict[language]['agregated'] = sum(values)
    if values_length != 0:
        agregation_dict[language]['mean'] = sum(values)/values_length
        if values_length % 2 == 0:
            agregation_dict[language]['median'] = (values[values_length//2-1] + values[values_length//2])/2
        else:
            agregation_dict[language]['median'] = values[values_length//2-1]

agregation_dict

{'Pashto': {'values': [38041754],
  'agregated': 38041754,
  'median': 38041754,
  'mean': 38041754.0},
 'Albanian': {'values': [2854191],
  'agregated': 2854191,
  'median': 2854191,
  'mean': 2854191.0},
 'Arabic': {'values': [0,
   1501635,
   2832067,
   4525696,
   5266535,
   6777452,
   6855713,
   9770529,
   10101694,
   11694719,
   15442905,
   17070135,
   29161922,
   34268528,
   36910560,
   39309783,
   42813238,
   43053054],
  'agregated': 317356165,
  'median': 10898206.5,
  'mean': 17630898.055555556},
 'Catalan': {'values': [77142],
  'agregated': 77142,
  'median': 77142,
  'mean': 77142.0},
 'Portuguese': {'values': [483628,
   1920922,
   3500000,
   10269417,
   30366036,
   31825295,
   212559417],
  'agregated': 290924715,
  'median': 3500000,
  'mean': 41560673.571428575},
 'English': {'values': [10084,
   18233,
   52823,
   71808,
   97118,
   100455,
   112003,
   113815,
   117606,
   182790,
   287025,
   389482,
   390353,
   669823,
   782766,
   1093238,
   1394973,
   2125268,
   2346179,
   2347706,
   2494530,
   4841000,
   4937374,
   7813215,
   11062113,
   17861030,
   18628747,
   30792608,
   66834405,
   108116615,
   200963599],
  'agregated': 487048784,
  'median': 782766,
  'mean': 15711251.096774194},
 'Spanish': {'values': [1355986,
   3461734,
   4246439,
   5047561,
   6453553,
   6545502,
   7044636,
   9746117,
   10738958,
   11333483,
   11513100,
   16604026,
   17373662,
   18952038,
   28515829,
   32510453,
   44938712,
   47076781,
   50339443],
  'agregated': 333798013,
  'median': 10738958,
  'mean': 17568316.47368421},
 'Armenian': {'values': [2957731],
  'agregated': 2957731,
  'median': 2957731,
  'mean': 2957731.0},
 nan: {'values': [], 'agregated': 0, 'median': 0, 'mean': 0},
 'German': {'values': [38019, 8574832, 8877067, 83132799],
  'agregated': 100622717,
  'median': 8725949.5,
  'mean': 25155679.25},
 'Azerbaijani language': {'values': [10023318],
  'agregated': 10023318,
  'median': 10023318,
  'mean': 10023318.0},
 'Bengali': {'values': [167310838],
  'agregated': 167310838,
  'median': 167310838,
  'mean': 167310838.0},
 'Russian': {'values': [6456900, 9466856, 18513930, 144373535],
  'agregated': 178811221,
  'median': 13990393.0,
  'mean': 44702805.25},
 'French': {'values': [38964,
   97625,
   299882,
   850886,
   973560,
   1265711,
   2172579,
   4745185,
   5380508,
   8082366,
   11263077,
   11484055,
   11801151,
   12771246,
   15946876,
   16296364,
   19658031,
   20321378,
   23310715,
   25716544,
   25876380,
   26969307,
   36991981,
   67059887,
   86790567],
  'agregated': 436164825,
  'median': 11484055,
  'mean': 17446593.0},
 'Dzongkha': {'values': [727145],
  'agregated': 727145,
  'median': 727145,
  'mean': 727145.0},
 'Bosnian': {'values': [3301000],
  'agregated': 3301000,
  'median': 3301000,
  'mean': 3301000.0},
 'Malay': {'values': [433285, 5703569],
  'agregated': 6136854,
  'median': 3068427.0,
  'mean': 3068427.0},
 'Bulgarian': {'values': [6975761],
  'agregated': 6975761,
  'median': 6975761,
  'mean': 6975761.0},
 'Kirundi': {'values': [11530580],
  'agregated': 11530580,
  'median': 11530580,
  'mean': 11530580.0},
 'Khmer language': {'values': [16486542],
  'agregated': 16486542,
  'median': 16486542,
  'mean': 16486542.0},
 'Standard Chinese': {'values': [1397715000],
  'agregated': 1397715000,
  'median': 1397715000,
  'mean': 1397715000.0},
 'Croatian': {'values': [4067500],
  'agregated': 4067500,
  'median': 4067500,
  'mean': 4067500.0},
 'Greek': {'values': [1198575, 10716322],
  'agregated': 11914897,
  'median': 5957448.5,
  'mean': 5957448.5},
 'Czech': {'values': [10669709],
  'agregated': 10669709,
  'median': 10669709,
  'mean': 10669709.0},
 'Danish': {'values': [5818553],
  'agregated': 5818553,
  'median': 5818553,
  'mean': 5818553.0},
 'Modern Standard Arabic': {'values': [4207083, 100388073],
  'agregated': 104595156,
  'median': 52297578.0,
  'mean': 52297578.0},
 'Tigrinya': {'values': [6333135],
  'agregated': 6333135,
  'median': 6333135,
  'mean': 6333135.0},
 'Estonian': {'values': [1331824],
  'agregated': 1331824,
  'median': 1331824,
  'mean': 1331824.0},
 'Amharic': {'values': [112078730],
  'agregated': 112078730,
  'median': 112078730,
  'mean': 112078730.0},
 'Fiji Hindi': {'values': [889953],
  'agregated': 889953,
  'median': 889953,
  'mean': 889953.0},
 'Swedish': {'values': [5520314, 10285453],
  'agregated': 15805767,
  'median': 7902883.5,
  'mean': 7902883.5},
 'Georgian': {'values': [3720382],
  'agregated': 3720382,
  'median': 3720382,
  'mean': 3720382.0},
 'Italian': {'values': [836, 33860, 60297396],
  'agregated': 60332092,
  'median': 836,
  'mean': 20110697.333333332},
 'Hungarian': {'values': [9769949],
  'agregated': 9769949,
  'median': 9769949,
  'mean': 9769949.0},
 'Icelandic': {'values': [361313],
  'agregated': 361313,
  'median': 361313,
  'mean': 361313.0},
 'Hindi': {'values': [1366417754],
  'agregated': 1366417754,
  'median': 1366417754,
  'mean': 1366417754.0},
 'Indonesian': {'values': [270203917],
  'agregated': 270203917,
  'median': 270203917,
  'mean': 270203917.0},
 'Persian': {'values': [9321018, 82913906],
  'agregated': 92234924,
  'median': 46117462.0,
  'mean': 46117462.0},
 'Irish': {'values': [5007069],
  'agregated': 5007069,
  'median': 5007069,
  'mean': 5007069.0},
 'Hebrew': {'values': [9053300],
  'agregated': 9053300,
  'median': 9053300,
  'mean': 9053300.0},
 'Jamaican English': {'values': [2948279],
  'agregated': 2948279,
  'median': 2948279,
  'mean': 2948279.0},
 'Swahili': {'values': [12626950, 44269594, 52573973, 58005463],
  'agregated': 167475980,
  'median': 48421783.5,
  'mean': 41868995.0},
 'Lao': {'values': [7169455],
  'agregated': 7169455,
  'median': 7169455,
  'mean': 7169455.0},
 'Latvian': {'values': [1912789],
  'agregated': 1912789,
  'median': 1912789,
  'mean': 1912789.0},
 'Lithuanian': {'values': [2786844],
  'agregated': 2786844,
  'median': 2786844,
  'mean': 2786844.0},
 'Luxembourgish': {'values': [645397],
  'agregated': 645397,
  'median': 645397,
  'mean': 645397.0},
 'Malaysian language': {'values': [32447385],
  'agregated': 32447385,
  'median': 32447385,
  'mean': 32447385.0},
 'Divehi': {'values': [530953],
  'agregated': 530953,
  'median': 530953,
  'mean': 530953.0},
 'Maltese': {'values': [502653],
  'agregated': 502653,
  'median': 502653,
  'mean': 502653.0},
 'Marshallese': {'values': [58791],
  'agregated': 58791,
  'median': 58791,
  'mean': 58791.0},
 'Romanian': {'values': [2657637, 19356544],
  'agregated': 22014181,
  'median': 11007090.5,
  'mean': 11007090.5},
 'Mongolian': {'values': [3225167],
  'agregated': 3225167,
  'median': 3225167,
  'mean': 3225167.0},
 'Montenegrin language': {'values': [622137],
  'agregated': 622137,
  'median': 622137,
  'mean': 622137.0},
 'Burmese': {'values': [54045420],
  'agregated': 54045420,
  'median': 54045420,
  'mean': 54045420.0},
 'Nepali': {'values': [28608710],
  'agregated': 28608710,
  'median': 28608710,
  'mean': 28608710.0},
 'Dutch': {'values': [581372, 17332850],
  'agregated': 17914222,
  'median': 8957111.0,
  'mean': 8957111.0},
 'Korean': {'values': [25666161, 51709098],
  'agregated': 77375259,
  'median': 38687629.5,
  'mean': 38687629.5},
 'Macedonian': {'values': [1836713],
  'agregated': 1836713,
  'median': 1836713,
  'mean': 1836713.0},
 'Norwegian': {'values': [5347896],
  'agregated': 5347896,
  'median': 5347896,
  'mean': 5347896.0},
 'Urdu': {'values': [216565318],
  'agregated': 216565318,
  'median': 216565318,
  'mean': 216565318.0},
 'Tok Pisin': {'values': [8776109],
  'agregated': 8776109,
  'median': 8776109,
  'mean': 8776109.0},
 'Polish': {'values': [37970874],
  'agregated': 37970874,
  'median': 37970874,
  'mean': 37970874.0},
 'Samoan': {'values': [202506],
  'agregated': 202506,
  'median': 202506,
  'mean': 202506.0},
 'Serbian': {'values': [6944975],
  'agregated': 6944975,
  'median': 6944975,
  'mean': 6944975.0},
 'Slovak': {'values': [5454073],
  'agregated': 5454073,
  'median': 5454073,
  'mean': 5454073.0},
 'Slovene language': {'values': [2087946],
  'agregated': 2087946,
  'median': 2087946,
  'mean': 2087946.0},
 'Afrikaans': {'values': [58558270],
  'agregated': 58558270,
  'median': 58558270,
  'mean': 58558270.0},
 'Tamil': {'values': [21803000],
  'agregated': 21803000,
  'median': 21803000,
  'mean': 21803000.0},
 'Thai': {'values': [69625582],
  'agregated': 69625582,
  'median': 69625582,
  'mean': 69625582.0},
 'Tongan Language': {'values': [100209],
  'agregated': 100209,
  'median': 100209,
  'mean': 100209.0},
 'Turkish': {'values': [83429615],
  'agregated': 83429615,
  'median': 83429615,
  'mean': 83429615.0},
 'Turkmen': {'values': [5942089],
  'agregated': 5942089,
  'median': 5942089,
  'mean': 5942089.0},
 'Tuvaluan Language': {'values': [11646],
  'agregated': 11646,
  'median': 11646,
  'mean': 11646.0},
 'Ukrainian': {'values': [44385155],
  'agregated': 44385155,
  'median': 44385155,
  'mean': 44385155.0},
 'Uzbek': {'values': [33580650],
  'agregated': 33580650,
  'median': 33580650,
  'mean': 33580650.0},
 'Vietnamese': {'values': [96462106],
  'agregated': 96462106,
  'median': 96462106,
  'mean': 96462106.0},
 'Shona': {'values': [14645468],
  'agregated': 14645468,
  'median': 14645468,
  'mean': 14645468.0}}